#!/usr/bin/env xdg-open

[Desktop Entry]
Version=0.2
Type=Application
Name=stocktracker
Description=A program to easily track your investments
TryExec=stocktracker
Exec=stocktracker
Icon=stocktracker
Terminal=false
