Source: stocktracker
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python,
 python-central (>= 0.6.11),
 python-distutils-extra (>= 2.10)
Maintainer: Wolfgang Steitz <wsteitz(at)gmail.com>
Standards-Version: 3.8.2
XS-Python-Version: current

Package: stocktracker
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends}${misc:Depends},
 ${python:Depends},
 python-tz,
 python-gobject,
 python-cairo,
 python-gtk2
Description: A lightweight program to easily track your investments.
 UNKNOWN
