Source: avernus
Section: python
Priority: extra
Build-Depends: debhelper (>= 8),
 debhelper (>= 6),
 cdbs,
 python,
 python-support,
 python-distutils-extra (>= 2.10)
Maintainer: Wolfgang Steitz <wsteitz@gmail.com>
Standards-Version: 3.9.3
X-Python-Version: >= 2.7

Package: avernus
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 python-gobject,
 python-beautifulsoup,
 python-dateutil,
 python-sqlalchemy,
 python-chardet,
 python-tz
Description: A simple program to easily track your investment portfolios and banking accounts.
