
[Desktop Entry]
Name=avernus Personal Finance
Comment=avernus finance application
Categories=GNOME;Office;
Exec=avernus
Icon=/usr/share/pixmaps/avernus.png
Terminal=false
Type=Application
